* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    background-color: #595972;
    color: white;
}

img {
    max-width: 100%;
}

header {
    padding-bottom: 64px;
}

.container {
    max-width: 1010px;
    padding: 0 15px;
    margin: 0 auto;
}

.menu {
    list-style: none;
    margin: 40px 0 5px;
    padding: 25px 0 5px;
    text-align: center;
}

.burger {
    display: none;
}

.menu-item {
    display: inline-block;
}

.menu-item a {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-decoration: none;
    color: #fff;
    position: relative;
    padding-bottom: 5px;
    margin: 0 34px 0 30px;
    display: inline-block;
    transition: color .2s;
}

.menu-item a:hover{
    color: #E8D700;
}
.menu-item a:before,
.menu-item a:after {
    content: "";
    position: absolute;
    height: 2px;
    top: auto;
    right: 49.5%;
    bottom: -5px;
    left: 50.5%;
    background: #E8D700;
    transition: .8s;
}
.menu a:hover:before {
    left: 0;
}
.menu a:hover:after {
    right: 0;
} 

@media (max-width: 550px) {
.menu {padding-top: 0;}
.menu-item {display: block;}
.menu-item:after {content: none;}
.menu a {
    padding: 25px 0 20px; 
    margin: 0 30px;
}
}

.hero-content {
    height: 570px;
}

.hero-img {
    margin: 0 1em 1em 0;
    float: left;
}

.hero-content-box{
    display: flex;
    position: relative;
    top: 150px;
    margin-bottom: 100px;
    margin-left: auto;
    background: #353548;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 18px;
}

.hero-greetings { 
    padding: 18px 23px;
    font-weight: 400;
    font-size: 48px;
    line-height: 59px;
}

#name {
    font-weight: 600;
}

#job {
    font-weight: 200;
    font-size: 36px;
}
