body {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    background-color: #f0f0f0;
}

main {
    display: flex;
    flex-direction: row;
    background: #fff;
    width: 1200px;
    margin: 40px auto;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.2);
}